# IntelliJ
.idea/
*.iml
*.ipr
*.iws
**/*.iml

# Build
**/build/
.gradle/
out/
node_modules/
openedbox-contacts-front/src/main/resources/static
openedbox-contacts-front/src/main/resources/templates

csv/
